body {
	margin: auto;
	font-size: 1em;
	color: #ffffff;
	background-color: #b91233;
	text-align: center;
	font-family: sans-serif;
}

label {
	font-size: 2em;
}

input {
	font-size: 2em;
	display: inline-block;
}

.flex {
	display: flex;
	width: 100%;
	justify-content: center;
}

input {
	background-color: #f6f6f6;
    border-color: #b91233;
	color: #b91233;
	border-radius: 0.3em;
}