body {
	background-color: #b91233;
	margin: auto;
	text-align: center;
  }
  form {
	position: fixed;
	top: 40%;
	left: 40%;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1.5em;
	display: inline-block;
  }